[tool.poetry]
name = "streamlit-server-state"
version = "0.12.2"
description = ""
authors = ["Yuichiro Tachibana (Tsuchiya) <t.yic.yt@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/whitphx/streamlit-server-state"

[tool.poetry.dependencies]
python = "^3.7"
streamlit = ">=0.65.0"

[tool.poetry.dev-dependencies]
black = "^20.8b1"
isort = "^5.10.1"
flake8 = "^4.0.1"
mypy = "^0.942"
streamlit = ">=0.87.0"
pytest = "^7.1.1"

[tool.black]
line-length = 88
target-version = ['py38']
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.isort]
# https://pycqa.github.io/isort/docs/configuration/black_compatibility/
profile = "black"
multi_line_output = 3

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
