[tool.poetry]
name = "streamlit-server-state"
version = "0.15.0"
description = ""
authors = ["Yuichiro Tachibana (Tsuchiya) <t.yic.yt@gmail.com>"]
license = "MIT"
readme = "README.md"
repository = "https://github.com/whitphx/streamlit-server-state"

[tool.poetry.dependencies]
python = ">=3.7,<3.11,!=3.9.7"  # 3.9.7 is excluded due to https://github.com/streamlit/streamlit/pull/5168
streamlit = ">=0.65.0"
packaging = ">=20.0"

[tool.poetry.dev-dependencies]
# [tool.poetry.group.dev.dependencies]  # Poetry 1.2.0 is not supported on Streamlit Cloud, see https://github.com/whitphx/streamlit-server-state/issues/143
black = "^20.8b1"
click = ">=7.0,<8.0"  # We must specify the click version because we install older versions of Streamlit in the CI process and their depending click version is different from the newer releases.
isort = "^5.10.1"
flake8 = "^4.0.1"
mypy = "^0.991"
pytest = "^7.2.0"
# It is necessary to specify numpy and pandas versions for Poetry to resolve the package versions correctly and avoid errors.
numpy = "^1.21.0"
pandas = [
  {version = "1.1.5", python = ">=3.7,<3.8"},
  {version = "^1.4.0", python = ">=3.8,<3.11"},
]
streamlit = "^1.12.2"

[tool.black]
line-length = 88
target-version = ['py38']
exclude = '''

(
  /(
      \.eggs         # exclude a few common directories in the
    | \.git          # root of the project
    | \.hg
    | \.mypy_cache
    | \.tox
    | \.venv
    | _build
    | buck-out
    | build
    | dist
  )/
)
'''

[tool.isort]
# https://pycqa.github.io/isort/docs/configuration/black_compatibility/
profile = "black"
multi_line_output = 3

[build-system]
requires = ["poetry-core>=1.0.0"]
build-backend = "poetry.core.masonry.api"
